$colors: ( item-text-color :#904C77, text-color: #FFFFFF, border-color:#904C77, backgrond-color:#904C77);
$divcolors: ( div1: #E7CFCD, div2:#CFC0BD, div3:#CAB6CD, div4:#BA8F95, div5:#D3C1C3);
$text-font:sans-serif;
@mixin textstylebtn {
    color: color(text-color);
    font-family: $text-font;
    font-size: 22px;
    text-align: center;
}
@mixin stylediv {
	display: flex;
	justify-content: center;
    position: absolute;
    width: 300px;
	height: 78px;
	align-items: center;
}
@mixin divstyletext {
    text-align: center;
	font-family: $text-font;
	color: color(item-text-color);
	font-size: 22px;
}
@function divcolor($divcolor) {
	$divcolor: map-get($map: $divcolors, $key: $divcolor);
	@return $divcolor;
}
@function color($color) {
	$color: map-get($map: $colors, $key: $color);
	@return $color;
}

body,
html {
	height: 100%;
}

.header {
	background-color: color(backgrond-color);
	height: 80px;
	margin-top: -15px;
	margin-right: -8px;
	margin-left: -8px;
	h1 {
		text-align: center;
		font-family: $text-font;
		font-size: 30px;
		color: color(text-color);
		padding-top: 30PX;
	}
}

.root {
	display: flex;
	width: 80%;
	height: 100%;
	margin: 0 auto;
	justify-content: space-between;
	overflow: hidden;
	.leftviwe {
		position: relative;
		width: 25%;
		height: 70%;
		margin-top: 100px;
		margin-left: 85px;
		border-bottom: solid 5px color(border-color);
		border-right: solid 5px color(border-color);
		border-left: solid 5px color(border-color);
		display: flex;
		flex-direction: column;	
		align-items: center;
		overflow: auto;
			.div1 {
				bottom: 5PX;
				@include divstyletext();
				@include stylediv();
				position: absolute;
				background-color: divcolor(div1);
			}
			.div2 {
				bottom: 90PX;
				@include divstyletext();
				@include stylediv();
				position: absolute;
				background-color: divcolor(div2);
			}
			.div3 {
				bottom: 180PX;
				@include divstyletext();
				@include stylediv();
				position: absolute;
				background-color: divcolor(div3);
			}
			.div4 {
				bottom: 265PX;
				@include divstyletext();
				@include stylediv();
				position: absolute;
				background-color: divcolor(div4);
			}
			.div5 {
				bottom: 350PX;
				@include divstyletext();
				@include stylediv();
				position: absolute;
				background-color: divcolor(div5);
			}
		}
	}
	.rightviwe {
		justify-content: center;
		margin-left: 600px;
		display: flex;
		flex-direction: column;
		width: 20%;
		button {
            cursor: pointer;
			height: 78px;
			background-color: color(backgrond-color);
            @include textstylebtn();
		}
	}
	@keyframes mymove {
		from {top: 0px;}
		to {top: 200px;}
	  }
	

